.icon-trash{
    width: 24px;
    height: 24px;
}
.brand{
    width: 160px;
    height: 34px;
}
a, a:hover{
    text-decoration: none;
}

.img-fruit{
    width: 220px;
    height:220px;
}
ul{
list-style: none;
}